<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <listeners>
       <listener class-name="com.ConvergeHub.Listeners.CustomListeners"/>
  </listeners>

  <test  name="Lead Test Cases">
  <classes>
  <!--Lead Test Cases      -->
   <!--
      <class name="com.ConvergeHub.TestCases.TC_AddLead"/>
      <class name="com.ConvergeHub.TestCases.TC_CreateTaskForLead"/>
      <class name="com.ConvergeHub.TestCases.TC_AddCommentandNoteToLead"/>
      <class name="com.ConvergeHub.TestCases.TC_ScheduleEvent"/>
      <class name="com.ConvergeHub.TestCases.TC_AddLead_QuickView"/>
      <class name="com.ConvergeHub.TestCases.TC_ReferLead"/>
      <class name="com.ConvergeHub.TestCases.TC_AdvanceSearch"/> 
      <class name="com.ConvergeHub.TestCases.TC_EditLead"/> 
      <class name="com.ConvergeHub.TestCases.TC_BasicSearch"/> 
      <class name="com.ConvergeHub.TestCases.TC_MassUpdateForLead"/> 
      <class name="com.ConvergeHub.TestCases.TC_ConvertLead"/> 
      <class name="com.ConvergeHub.TestCases.TC_MergeDuplicate"/> 
       -->
   </classes>
   </test> 
     
 <test  name="Deal Test Cases">
 <classes> 
  <!--Deal Test Cases      -->   
  <!--  
       <class name="com.ConvergeHub.TestCases.TC_AddDeal"/> 
       <class name="com.ConvergeHub.TestCases.TC_CreateTaskForDeal"/> 
       <class name="com.ConvergeHub.TestCases.TC_Add_Comment_NoteToDeal"/>
       <class name="com.ConvergeHub.TestCases.TC_ScheduleEvent_Deal"/>
       <class name="com.ConvergeHub.TestCases.TC_Search_Deal"/>  
       <class name="com.ConvergeHub.TestCases.TC_MassUpdateForDeal"/>
       -->    
  </classes>
  </test> <!-- Test -->
  
 <test  name="Contact Test Cases">
 <classes> 
  <!--Contact Test Cases        -->
   <!--
       <class name="com.ConvergeHub.TestCases.TC_AddContacts"/>  
       <class name="com.ConvergeHub.TestCases.TC_CreateTaskForContact"/> 
       <class name="com.ConvergeHub.TestCases.TC_AddCommentandNoteToContact"/> 
       <class name="com.ConvergeHub.TestCases.TC_ScheduleEvent_Contact"/> 
  --> 
  </classes>
 </test> <!-- Test -->
 
 <test  name="Target Test Cases">
 <classes> 
  <!--Target Test Cases        -->
  <!--
       <class name="com.ConvergeHub.TestCases.TC_AddTarget_Convert"/>  
  -->    
  </classes>
  </test> <!-- Test -->
  
 <test  name="Account Test Cases">
 <classes> 
  <!--Account Test Cases        -->
       <class name="com.ConvergeHub.TestCases.TC_AddAccount"/>  
       <class name="com.ConvergeHub.TestCases.TC_CreateTask_Comments_Notes_ScheduleEvent_ForAccount"/>
       <class name="com.ConvergeHub.TestCases.TC_DeleteAccount"/>    
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
