<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <listeners>
       <listener class-name="com.ConvergeHub.Listeners.CustomListeners"/>
  </listeners>
  <test thread-count="5" name="Lead Test Cases">
  <classes>
   <!--Lead Test Cases -->
      <class name="com.ConvergeHub.TestCases.TC_AddLead"/>
      <class name="com.ConvergeHub.TestCases.TC_CreateTaskForLead"/>
      <class name="com.ConvergeHub.TestCases.TC_AddCommentandNoteToLead"/>
      <class name="com.ConvergeHub.TestCases.TC_ScheduleEvent"/>
      <class name="com.ConvergeHub.TestCases.TC_AddLead_QuickView"/>
      <class name="com.ConvergeHub.TestCases.TC_ReferLead"/>
      <class name="com.ConvergeHub.TestCases.TC_AdvanceSearch"/> 
      <class name="com.ConvergeHub.TestCases.TC_EditLead"/> 
      <class name="com.ConvergeHub.TestCases.TC_BasicSearch"/> 
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
